<!DOCTYPE html>
<html lang="en">
<head>
    <title>Preview</title>
</head>

<body>
    <h1>Preview</h1>
    <h2>Create a thumbnail from a URL.</h2>
    <br>
    <p>Preview is a simple application. You exchange a URL for a thumbnailed image of the URL.</p>
    <br>
    <br>
    <p>To create an image, call preview like this,</p>
    <p>/preview/create?url=http://librarylab.law.harvard.edu</p>
    <br>
    <p></p>
    <p>If you want to take just a slice of that image pass in slice-size parameter,</p>
    <p>/preview/create?url=http://librarylab.law.harvard.edu&slice-size=800px*600px</p>
</body>
</html>