{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Preview</title>

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "css/landing.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>Preview</h1>
                <p class="lead">Create an image from a URL.</p>
                <br>
                <br>
                <p>To create an image pass in a URL.</p>
                <pre>/preview/create?url=http://librarylab.law.harvard.edu</pre>
                <br>
                <p>If you want to create a thumbnailed version, pass in the thumb parameter with the max width of the thumbnail. This'll create a thumbnail with a fixed width and a variable length.</p>
                <pre>/preview/create?url=http://librarylab.law.harvard.edu&thumb=400px</pre>
                <br>
                <p>If you want to the thumbnail to be a fixed width and height, have Preview slice it for you.</p>
                <pre>/preview/create?url=http://librarylab.law.harvard.edu&thumb=400px*300px</pre>
                <br>
                <p>If you want to adjust the viewport used to render the image, pass in the viewport parameter.</p>
                <pre>/preview/create?url=http://librarylab.law.harvard.edu&thumb=400px&viewport=800px*2000px</pre>
                <br>
                <p>If you're trying to generate a preview for a URL that contains things like ampersands, be sure to <a href="http://en.wikipedia.org/wiki/Percent-encoding">URL encode</a> the URL first.</p>
                <br>
                <br>
                <p>Once processing has completed you'll get a JSON object back. Be sure to download any created images. We don't store them forever.</p>
<pre>{
    thumb_url: "/preview/media/thumb-weZDVFCH.png",
    image_url: "/preview/media/weZDVFCH.png"
}</pre>
            </div>
        </div>




      <div class="row footer">
          <div class="col-sm-6 col-sm-offset-3">
              <br>
              <br>
              <br>
            <div class="branding">
                <a class="lil" href="http://librarylab.law.harvard.edu">A Harvard Library Innovation Lab Project<img class="logo" src="{% static "img/liblabstamp.png" %}"></a>
            </div>
          </div>
      </div>

    </div> <!-- /container -->
  </body>
</html>